body {
  font-family: "Lato", sans-serif;
  background-color: #F1F1F1;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.select {
  &.opened {
    .jq-selectbox__select {
      border-color: $green;
    }

    .jq-selectbox__trigger-arrow {
      transform: rotate(180deg);
    }
  }

  .jq-selectbox {
    &__select {
      padding: 0 30px 0 18px;
      border-radius: 0;
      background: none;
      background-color: transparent;
      color: white;
      text-shadow: none;
      border: none;
      border: 2px solid #BCBCBC;
      box-shadow: none;
      height: 65px;
    }

    &__select-text {
      padding: 16px 0 17px;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      color: #BCBCBC;
    }

    &__trigger {
      border: none;
    }

    &__trigger-arrow {
      height: 6px;
      width: 12px;
      border: none;
      background-image: url('../images/arrow-down.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      top: calc(50% - 3px);
      left: calc(50% - 6px);
      transition: .3s;
    }

    &__dropdown {
      top: 50px !important;
      border-radius: 0;
      background-color: #282828;
      border: 2px solid $green;
      border-top: none;

      ul {
        height: 130px !important;
      }

      li.disabled {
        display: none;
      }

      li {
        color: #F1F1F1;
        padding: 8px 18px;

        &:hover {
          background-color: transparent;
          color: $green;
        }
      }

      li.sel {
        background-color: transparent;
        color: $green;
      }
    }
  }
}